    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
.site-header {
  letter-spacing: -0.31em;
}

/* every element of the Grid is a son. Notice: You need to apply the width to the specific class! */
.logo__wrapper, nav {
  letter-spacing: 0em;
  display: inline-block;
  vertical-align: top;
}

/* third level nesting. It's a bit hacky but it works fine for Prototyping. */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 1em/1.2em "Open Sans", sans-serif;
  color: #333;
  background: #fff;
}

.site-header {
  background: #333;
  transition: height linear 0s;
  padding:0 1em 0 0;
}

.header--fixed {
  height:3em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
  opacity: .6;
  transition: opacity linear .2s;
}
.header--fixed img {
  height: 3em;
}

.header--fixed nav {
 transition: all linear .2s;
}

.header--fixed:hover {
  opacity:1;
  transition:opacity ease-out .4s;
}

.logo__wrapper {
  width: 50%;
  height: auto;
}

nav {
  width: 50%;
  height: auto;
  text-align: right;
  margin-top: 1em;
}
nav li {
  display: inline;
  padding: .5em 1em;
  background: #fff;
}
nav li a {
  color: #333;
  text-decoration: none;
}
nav li:hover {
  background: #1a1a1a;
}
nav li:hover a {
  color: #fff;
}

.content {
  width: 100%;
  max-width: 40em;
  margin: 2.5em auto;
}

.post {
  background: #333;
  color: #fff;
}

.post__header {
  background: #1a1a1a;
  padding: 2.5em;
}

.post__content h3, .post__content h4, .post__content h5, .post__content h6, .post__content p {
  padding: 1em 2.5em;
}
.post__content img {
  width: 100%;
  height: auto;
}

.scroll-top {
  position: fixed;
  bottom:30px;
  right:30px;
  background: #333;
  color:#fff;
  border-radius: 3px;
  padding:.3em .7em;
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
}

.scroll-top--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity ease-in-out .4s;
}
  